azure-identity
quart
quart-cors
requests
openai==1.37.0
tiktoken==0.7.0
cachetools==5.3.0
azure-search-documents==11.4.0b11
azure-storage-blob
azure-storage-queue
azure-cosmos
uvicorn
aiohttp
azure-monitor-opentelemetry
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-aiohttp-client
msal
azure-keyvault-secrets
